.loginForm {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.link:hover {
    text-decoration: underline #a8eb12;
}

.error {
    font-size: 30px;
    color: red;
}
