.toggleView > li {
    display: inline;
    padding: 0;
    margin: 0;
}

.toggleView li:not(:first-child):before {
    content: ", ";
}

.ul {
    overflow: scroll;
}

.todoList {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

