.aside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background: pink;
    border-radius: 10px;
}

.item {
    margin: 0 5px;
}

.avatar {
    margin-top: 5px;
    border-radius: 50%;
}

.bio {
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}
