.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
}

.title {
    font-size: 30px;
    margin: 0;
}

.submitButton {
    margin: 10px !important;
}

.field {
    margin: 10px !important;
}
