.mainDiv {
    display: grid;
    height: 100%;
    grid-gap: 3px;
    grid-template-areas:
            ". . head head head head head head . ."
            ". . main main main main main main . ."
            ". section section section section section section section section ."
            ". foot foot foot foot foot foot foot foot .";
    grid-template-rows: 70px 1fr auto 50px;
    grid-template-columns: repeat(2, 70px) repeat(6, 1fr) repeat(2, 70px);
}

.mainDiv.light {
    background-color: var(--back-color-body-light);

}

.mainDiv.dark {
    background-color: var(--back-color-body-dark);

}

.mainDiv > header {
    grid-area: head;
    background-color: var(--back-color-header);
}

.mainDiv > main {
    grid-area: main;
}

.mainDiv > footer {
    grid-area: foot;
    background-color: var(--back-color-footer);
}

.mainDiv > section {
    grid-area: section;
    background-color: var(--back-color-section);
}


