@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Short+Stack&display=swap');

:root {
    --back-color-header: #CBE3BF;
    --back-color-footer: #6B8691;
    --back-color-body-light: #EAECEB;
    --back-color-body-dark: #934E74;
    --back-color-clock: #ABAB87;
    --back-color-catFact: #FF884E;
    --back-color-todoList: #A0A9D7;
}

html, body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
}
