@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Short+Stack&display=swap');

:root {
    --back-color-header: #FFF9AA;
    --back-color-footer: #FFF9AA;
    --back-color-body-light: #EDF4FF;
    --back-color-body-dark: #934E74;
    --back-color-widget: #D8E5E1;

}

html, body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-color: var(--back-color-body-light);
}

